td, th  {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

th { 
    background: #990000; 
    color: #ffffff;      
}

select.filter { width: 10em; }
/*
select.filter option { width: 9em; }
*/
select.on { background-color: #FFFFE0; }
td.filterOn { font-weight: bold; color: #CC6600; }

span.return a { color: blue; font-weight: bold; text-decoration: none; }
span.return a:hover { text-decoration: underline; }

div.paging { float: right; text-align: right; margin-bottom: 5px; margin-top: 5px; }
div.paging a { color: #336699; text-decoration: none; }
div.paging a:hover { text-decoration: underline; }

tr a { color: #336699; text-decoration: none; }
tr a:hover { text-decoration: underline; }

th a { color: #ffffff; text-decoration: none; }

td.selected a { color: #A60000; font-weight: bold; }
tr.selected td { border-top: 2px solid #A60000; }
td.content { border-bottom: 2px solid #A60000; }

a.menu { color: #336699; }

div.closeBar { 
    border-top: 1px dotted #999999;
    /*
    border-left: 1px dotted #999999; 
    border-right: 1px dotted #999999; 
    */
    width: 100%;
    margin: 0px;
    float: right; 
}

div.close { 
    cursor: pointer;
    color: #A60000; 
    font-weight: bold;
    margin: 5px;
    float: left; 
}

div.close div:hover { text-decoration: underline; }

.confirm { color: red; }
.confirm_complete, .confirmComplete { 
    color: green;
    font-style: italic; 
    font-weight : bold; 
}

div.content { 
    height: 300px; 
    width: 100%;  
    overflow: auto; 
    display: none; 
}

input.submitSmall {
    font-size: 12px;
}

#loading {
    clear:both; 
    background:url(../images/wait.gif) center top no-repeat; 
    text-align:center;
    padding:33px 0px 0px 0px; 
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
}



#content_main { 
    position:absolute; 
    height: 300px; 
    /*
    width:500px;
    */
    top:0;
    left: 0;
    right:0;
    background-color: #FFFFFF;
    display: none; 
}