body {width:100%}
h2 { margin:0;}
h3 { margin:5px 0 10px 0;}
th { background: #990000; font-size: 12px; color: #ffffff; padding: 0 2px 0 2px}
th a { font-size: 12px; color: #ffffff;}
td {font-size: 12px}

/*
.groupsTitle {padding: 10px; padding-left: 20px;}
*/

.count {color: #898989}

#groups {float:left; position:absolute;}
#groupsHandle {float:left; padding:10px; text-align: center; background:#005899; z-index: 1000; }
#groupsHandle a{ color: white; display:block; text-decoration:none; font-weight: bold; outline:none;}
#groupsPanel {}
#groupsClose {float:right; background: #0600F0; margin: 5px; padding: 5px;}
#groupsClose a {color: white; text-decoration:none; font-weight: bold; outline:none;}

#groupList div {padding: 2px}
#groupList .selected { background: #0600F0; font-weight: bold;}
#groupList .selected a { color: white;  text-decoration:none;}
#groupList .selected .count { color: white }

#applicants {background: #ffffff;z-index:1; border-left: 20px solid #E1E1E1; border-right: 20px solid #E1E1E1}
#applicants h2 {color: #990000}
#include {}
#removeButton {float:right;}
.odd { background: #dddddd }
.even { background: #eeeeee }
.adhoc { background: #D5B1C0 }
.applicantForm {margin:0}
.interests {padding: 3px 2px 2px 20px; text-indent: -15px;}
.totals {padding: 0 3px 0 3px}
.institution {padding-left: 5px;}
.searchContext {padding: 5px;}
/*
#pageHeading {float:left; clear: both;}
*/
#departmentName {padding: 20px 0 0 10px; font-size: 15px; font-weight:bold; color: #990000}
#sectionTitle {padding: 0 0 10px 10px; font-size: 18px; font-weight:bold; color: #990000}