.errorSubtitle
{ 
font-size: 12px;
font-weight: bold;
font-family: Arial,Helvetica,sans-serif;
color: rgb(153, 0, 0);
background-color: #ffff00;
}

.rollbutton1original a  {
    color: #000000;
    font-size:9px;
    /*font-weight: bold;*/
    text-decoration: none;
    border:2px outset light gray;
    /* background-color:#E2E2E2; */
     background-color:#ffffff; 
    display: block;
    /*width: 85px;*/
    height: 34px;
    padding: 5px;
    border-style:none;
}

.rollbutton1 a{ 
    display:inline;
    border-top:1px solid #FFFFFF; 
    border-left:1px solid #FFFFFF; 
    border-right:1px solid #000000; 
    border-bottom:1px solid #000000; 
    background:#CC998F; /* #D9998D; #CC9999; #cdb38b;*/
    font-size:10px; 
    font-weight: bold;
    color:#000000; 
    text-decoration:none; 
    padding:3px 2px 3px 4px; 
    text-align:center;
    display:block;
    height: 34px; 
} 

.rollbutton1active a {
    border-bottom:1px solid #FFFFFF; 
    border-right:1px solid #FFFFFF; 
    border-left:1px solid #000000; 
    border-top:1px solid #000000; 
    background-color:#BF6F60; /* #FFEAE6; #FFCCCC; #cdc0b0;  */
    font-size:10px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    padding:3px 2px 3px 4px; 
    text-align:center;
    display: block;
    height: 34px;
}

.rollbutton1 a:hover {
    border-bottom:1px solid #FFFFFF; 
    border-right:1px solid #FFFFFF; 
    border-left:1px solid #000000; 
    border-top:1px solid #000000; 
    background:#E6D2CF; /*#A66E63; #CC6666; #eecfa1; */
    /*
    color:#000000;
    padding:3px 2px 3px 4px; 
    */
    font-size:10px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    padding:3px 2px 3px 4px; 
    text-align:center;
    display: block;
    height: 34px;
}

.rollbutton2  {
    color: #000000;
    font-size:9px;
    text-decoration: none;
    border:0px outset light gray;
    background-color:#E2E2E2;
    display: block;
    height: 34px;
    border-style:none;
}

.rollbutton2 {
    color: #dddddd;
    font-size:9px;
    /*font-weight: bold;*/
    text-decoration: none;
    border:0px outset light gray;
    background-color:#dfdfdf;
    /*background-color:#FFFFFF; */
    display: block;
    /*width: 85px;*/
    height: 34px;
    padding: 5px; 
    border-style:none;
}