html, 
body,
#pageContentMainDiv {
    height: 100%;
}

#viewMenu { 
    padding: 0;
    margin: 0;
    list-style: none; 
    width: 100%; 
}

#viewMenu li { 
    padding: 5px;
}

 .selectedItem {
    background-color: #CCCCCC;
}

.menu  a { text-decoration: none; color: blue; }
.menu  a:visited { color: blue; text-decoration: none; }
.menu  a:hover { text-decoration: underline; color: #990000; }

a.menu { text-decoration: none; color: blue; }
a.menu:visited { color: blue; text-decoration: none; }
a.menu:hover { text-decoration: underline; color: #990000; }

#selectedMenuDiv {
    color: #99000;    
}

#selectedMenuDiv a {
    text-decoration: none;
    font-weight: bold;
    color: #990000;    
}

#selectedMenuDiv a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #990000;    
}

#selectedMenuDiv a:hover
{
    text-decoration: none;
    font-weight: bold;
    color: #990000;    
}

td.rowHeading  {
    background-color: #990000; 
    color: #FFFFFF;
}

th.columnHeading  {
    background-color: #990000; 
    color: #FFFFFF;
    font-weight: normal;
}

td.highlighted {
    background-color: white;    
    color: black;
}

th.highlighted {
    background-color: white;    
    color: black;
}

div.groupMembers {
    margin-top: 20px;
    height: 100%;
    width: 50%;
    /*
    overflow: auto;
    */
}

li.groupMember:hover {
    background-color: #FFF;    
}

div.draggable { 
    margin: 10px; 
    padding: 10px; 
    background: #EEE;
    border: 1px solid #BBB;
    float: left;
    width: 250px;
    height: 700px;
    overflow: hide;
}

.draggable_handle {
    float: left;
    clear: right;
    margin: 0px 0px 5px 0px;
    width: 94%;
    cursor: pointer;
    padding: 5px;
    background-color: #BBB;
}

.draggable_list {
    height: 650px;
    margin: 5px;
    clear: both;
    overflow: auto;
}