@charset "utf-8";
/* CSS Document */

.bodyButton {
	font-size: 8pt;
}
.bodyButton-right {
	font-size: 8pt;
	float: right;
}
.bodyText, .bodyText-bold, .bodyText-italics, .bodyText-indent, .sectionHeaderText, .pageHeaderText {
	/* font-family: sans-serif;    */
    font-family: Calibri; color: #333333, sans-serif
}
.bodyText {
	font-size: 10pt;
	line-height: 14pt;
}
.bodyText-bold {
	font-size: 10pt;
	line-height: 14pt;
	font-weight: bold;
}
.bodyText-bigger {
    font-size: 12pt;
    line-height: 14pt;
}
.bodyText-bold-bigger {
    font-size: 12pt;
    line-height: 14pt;
    font-weight: bold;
}
.bodyText-italics {
	font-size: 10pt;
	line-height: 14pt;
	font-style: oblique;
}
.bodyText-indent {
	font-size: 10pt;
	line-height: 14pt;
	margin-left: 20px;
}
ul {
	margin-left: -25px;
}
#courseName, #courseTime, #courseInstitution {
	float: left;
	width: 30%;
	margin-right: 14px;
	font-weight: bold;
}
#courseNameText, #courseTimeText, #courseInstitutionText {
	float: left;
	width: 30%;
	margin-right: 14px;
}
#courseNameLabel {
	width: 275px;
	float: left;
	margin-right: 10px;
}
#courseTimeLabel, #courseInstitutionLabel {
	width: 190px;
	float: left;
	margin-right: 10px;
}
#courseGradeLabel {
	float: left;
}
#courseNameInput {
	width: 275px;
	float: left;
}
#courseTimeInput, #courseInstitutionInput, #courseHeader1 {
	float: left;
	width: 185px;
}
#docLink {
	color: #0000FF;
	text-decoration: underline;
	float: left;
}
.sectionTitle {
	font-size: 14px;
/*	font-family: sans-serif;    */
    font-family: Calibri, sans-serif;
	float: left;
	color: #990000;
	font-weight: bold;
}
#feedbackLabel1, #feedbackLabel2, #feedbackLabel3, #docTitle1, #docTitle2 {
	color: #990000;
}
.hr {
	color: #990000;
}
.keywordArea, .commentArea {
	width: 100%;
	height: 50px;
}
.keywordArea {
	background-color: #FFCCFF;
}
.menuDiv {
	float: left;
}

.sectionHeaderText {
	float: left;
	font-size: 12pt;
	color: #990000;
}
.pageHeaderText {
	font-size: 12pt;
	font-weight: bold;
	color: #990000;
	float: left;
}
#referenceFirst, #referenceLast, #referenceJob, 
#referenceEmail, #referencePhone, #referenceComp {
	float: left;
	width: 30%;
	margin-right: 14px;
	font-weight: bold;
}
#referenceFirstText, #referenceLastText, #referenceJobText, 
#referenceEmailText, #referencePhoneText, #referenceCompText {
	float: left;
	width: 30%;
	margin-right: 14px;
}
#referenceStatus {
	float: left;
	width: 300px;
	margin-right: 14px;
}

#referenceHeader1, #courseHeader1 {
	font-weight: bold;
	color: #990000;
}

.status {
	float: left;
	width: 75%;
}
#sendRequest {
	float: left;
	margin-right: 20px;
}
#statusSelect {
	float: left;
	margin-right: 10px;
}
#statusModifier {
	float: left;
	width: 350px;
	background-color: #FFCCFF;
}


.textInput-short {
	float: left;
	width: 200px;
	margin-right: 10px;
	margin-top: 5px;
}
.textInput-ref {
	float: left;
	width: 30%;
	margin-right: 10px;
	margin-top: 5px;
	background-color: #FFCCFF;
}
.textInput-xshort {
	float: left;
	width: 40px;
	margin-right: 5px;
	margin-top: 5px;
}
.textInput-long {
	width: 100%;
}

/* PLB added */

.courseName, .courseTime, .courseInstitution {
    float: left;
    width: 30%;
    margin-right: 14px;
    font-weight: bold;
}
.courseNameText, .courseTimeText, .courseInstitutionText {
    float: left;
    width: 30%;
    margin-right: 14px;
}
.courseNameLabel {
    width: 190px;
    float: left;
    margin-right: 10px;
}
.courseTimeLabel, .courseInstitutionLabel {
    width: 190px;
    float: left;
    margin-right: 10px;
}
.courseGradeLabel {
    float: left;
}
.courseNameInput {
    width: 185px;
    float: left;
    
}
.courseTimeInput, .courseInstitutionInput, .courseHeader1 {
    float: left;
    width: 185px;
}
.docLink {
    color: #0000FF;
    text-decoration: underline;
    float: left;
}