body {width:100%}
th { background: #990000; 
    font-size: 12px; 
    color: #ffffff; 
    padding: 4px 4px 4px 4px; 
    margin: 0 0 0 0;                
    cursor:pointer;        
}
th.headerSortUp {
    background-color: #C20000; 
}

th.headerSortDown { 
    background-color: #C20000; 
}         

th a { font-size: 12px; color: #ffffff;}
td {font-size: 12px; padding: 2px 3px 2px 3px;}

#departmentName {padding: 20px 0 0 10px; font-size: 15px; font-weight:bold; color: #990000}
#sectionTitle {padding: 0 0 10px 10px; font-size: 18px; font-weight:bold; color: #990000}

#applicants {background: #ffffff; padding: 0 5px 5px 5px; margin: 0 10px 10px 10px;}
#applicants table {clear:both}

#sortTip {float:right; padding: 5px;}
#sortTip span {color: #990000; font-weight:bold; font-style:italic;}
.odd { background: #dddddd }
.even { background: #F4F4F4 }