td, th  {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

tr a { color: blue; text-decoration: none; }
tr a:hover { text-decoration: underline; }

th a { color: white; text-decoration: none; }

td.selected a { font-weight: bold; }
tr.selected td { border-top: 1px solid black; }
td.content { border-bottom: 1px solid black; }

a.menu { color: black; }

.confirm { color: blue; }
.confirm_complete { font-style: italic; font-weight : bold; }

div.content { height: 250px; width: 100%; overflow: auto; display: none; }

#loading {
    clear:both; 
    background:url(wait.gif) center top no-repeat; 
    text-align:center;
    padding:33px 0px 0px 0px; 
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif; }


#content_main { 
    position:absolute; 
    height: 300px; 
    /*
    width:500px;
    */
    top:0;
    left: 0;
    right:0;
    background-color: #FFFFFF;
    display: none; 
}

span.currentStatus {
    cursor: pointer;
}