body {width:100%}
th { background: #990000; 
    font-size: 12px; 
    color: #ffffff; 
    padding: 4px 4px 4px 4px; 
    margin: 0 0 0 0;                
    cursor:pointer;        
}
th.headerSortUp {
    background-color: #C20000; 
}

th.headerSortDown { 
    background-color: #C20000; 
}         

th a { font-size: 12px; color: #ffffff;}
td {font-size: 12px; padding: 2px 3px 2px 3px;}

#refreshPage{float:right}
#refreshPage form {padding: 30px 15px 15px 15px;}
#export {float:right}
#export form {padding: 30px 15px 15px 15px;}
#pageHeading {float:left}
#departmentName {padding: 20px 0 0 10px; font-size: 15px; font-weight:bold; color: #990000}
#sectionTitle {padding: 0 0 10px 10px; font-size: 18px; font-weight:bold; color: #990000}

#displayOptions {clear:both;margin: 0 10px 10px 10px; padding: 5px; background: #ffffff;}
#displayOptions table {padding: 0 0 0 15px}
#displayOptions h3 {margin:0;}
#applicants {background: #ffffff; padding: 0 5px 5px 5px; margin: 0 10px 10px 10px;}
#applicants table {clear:both}

#filter {float:left; padding: 5px;}
#search {float:right; padding: 5px;}
#clearSearch{float:right; padding: 5px;}

#sortTip {float:right; padding: 5px;}
#sortTip span {color: #990000; font-weight:bold; font-style:italic;}
.odd { background: #dddddd }
.even { background: #F4F4F4 }

.yes {color:#406B00; text-align:center; font-weight:bold;}
.no {color:#990000; text-align:center; font-weight:bold;}

#noResults {clear:both;padding: 35px 0 35px 10px;}

.js #applicantTable { visibility: hidden; }