@media print {

    html,
    body,
    form,
    div.surround
    {
        height: auto;
        width: auto;
    }
    
    div.application,
    div.reviews,
    div.form,
    div.semiblind 
    {
        clear: both;
        height: auto;
        width: auto;
        overflow: visible;

    }
}

@media screen
{
html, body, form { height: 100%; }
}

div.surround {
    width: 99%;
    height: 99%;
}

div.application {
    border-bottom: 2px solid black;
    margin: 5px;
    padding: 5px;
    height: 48%;
    overflow: auto;
}

div.reviews {
    height: 48%;    
}

div.save {
    margin: 5px;
    padding: 0px;
    height: 4%;
}

div.form {
    margin: 5px;
    padding: 5px;
    height: 60%;
    overflow: auto; 
}

div.semiblind {
    margin: 5px;
    padding: 5px;
    background-color: #EEEEEE;
    border-top: double black;
    height: 20%;
    overflow: auto;  
}