#form1 {
    height: 99%;
    width: 99%;
}

div.surround {
    height: 99%;
    width: 99%;
}

div.accordionApplication {
    width: 98%;
}

div.accordionApplication div.heading { 
    font-size: 20px;
    padding-bottom: 0px;
    /*
    border-bottom: 1px solid black;
    */
    cursor: pointer;        
}

div.section {
    clear: both;
    padding-top: 8px;
    margin-left: 5px; 
}

div.section div.heading {
    font-size: 14px;
    background-color: #DDDDDD;
    border-top: 1px solid #BBBBBB;
    border-bottom: none;
    cursor: pointer;     
}

div.odr {
    margin-top: -5px;
    margin-left: 10px;
}

div.statement {
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

div.subsection {
    clear: both;
    margin-left: 10px;
    padding-top: 8px;
}

div.subsection div.subheading {
    font-size: 12px;   
    border-top: 1px dotted #CCCCCC;
    padding-top: 2px;
}

div.element div.label {
    clear: left;
    float: left;
    width: 120px;
    font-weight: bold;
}

div.element div.value {
    float: left;
}

div.element div.address {
    clear: left;
}

div.publication div.value {
    clear: left;
}

#pdf_link {
    padding-bottom: 5px;;
    /*
    border-bottom: 1px dotted gray;
    */
}

.label {
    font-weight: bold;
}