@media print {
    body {
        width: 100%;
    }
    
    div, 
    div.surround,
    div.application,
    div.reviews,
    div.form,
    div.semiblind 
    div.moeller
    {
        float: none;
        clear: left;
        border: 0;
        width: 100%;
        height: auto;
        overflow: visible;
    }
    
    div.accordion {
        width: 95%;
        clear: both;
        padding: 10px;
        margin: 15px;
    }
}

div.application {
    margin: 5px;
    padding: 5px;
    /*
    background-color: #F8F8F8;
    */
    background-color: #EEEEEE;
    border-right: double black;
    float: left;
    width: 38%;
    height: 99%;
    overflow: auto;
}

div.reviews {
    float: left;
    width: 57%;
    height: 99%;    
}

div.save {
    margin: 5px;
    padding: 0px;
    height: 4%;
}

div.form {
    margin: 5px;
    padding: 5px;
    height: 44%;
    overflow: auto; 
}

div.semiblind {
    margin: 5px;
    padding: 5px;
    /*
    background-color: #F8F8F8;
    */
    background-color: #EEEEEE;
    border-top: double black;
    height: 28%;
    overflow: auto;  
}

div.moeller {
    margin: 5px;
    padding: 5px;
    /*
    background-color: #F8F8F8;
    */
    background-color: #EEEEEE;
    border-top: double black;
    height: 20%;
    overflow: auto;  
}