
#banner
{
background-image:url(../apply/images/Enterprise-Architecture-Fundamentals/appl.jpg);
background-repeat:no-repeat;
width:680px;
height:65px;
}

body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	background-image: url(../images/bodyrep.jpg);
	background-repeat: repeat-x;
 	margin: 0px;
	background-color: #FFFFFF;
}

form{
margin:0px;
}

hr { height: 1px;
}

.title
{ 
font-size: 14px;
font-weight: bold;
font-family: Arial,Helvetica,sans-serif;
color: rgb(153, 0, 0);
}

.errorSubtitle
{ 
font-size: 12px;
font-weight: bold;
font-family: Arial,Helvetica,sans-serif;
color: rgb(153, 0, 0);
background-color: #ffff00;
}

.subtitle
{ 
font-size: 12px;
font-weight: bold;
font-family: Arial,Helvetica,sans-serif;
color: rgb(153, 0, 0);
}

.subtitle a{ font-family: Arial,Helvetica,sans-serif;
color: rgb(153, 0, 0);
text-decoration: none;
}

.subtitle a:hover{ font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
text-decoration: none;
color: rgb(204, 153, 51);
}

.tblHead { font-family: Arial,Helvetica,sans-serif;
font-weight: bold;
color: rgb(255, 255, 255);
text-transform: uppercase;
font-size: 12px;
background-color: rgb(153, 0, 0);
}

.tblHead2 { font-family: Arial,Helvetica,sans-serif;
font-weight: bold;
color: rgb(153,0,0);

font-size: 12px;

}

.tblItem { 
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
}

.tblItem a{ 
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
color:#0000CC;
/*text-decoration: none;*/
}

.tblItem a:hover{ font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
text-decoration: none;
color: rgb(204, 153, 51);
}

.tblItemAlt { font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
background-color: #dddddd;
}

.tblItemAlt a{ font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
color: #0000CC;
/*text-decoration: none;*/
}

.tblItemAlt a:hover{ font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
text-decoration: none;
color: rgb(204, 153, 51);
}

.tblItemAuto { 
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
}

.tblItemRequired { font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
background-color: #ffdddd;
}



.tblHead a { font-family: Arial,Helvetica,sans-serif;
color: rgb(255, 255, 255);
}

.tblHead a:hover { color: rgb(204, 153, 51);
}

#rollbutton1original a  {
	color: #000000;
	font-size:9px;
	/*font-weight: bold;*/
	text-decoration: none;
	border:2px outset light gray;
/*	background-color:#E2E2E2; */
 	background-color:#ffffff; 
	display: block;
	/*width: 85px;*/
    height: 34px;
	padding: 5px;
	border-style:none;
}

#rollbutton1 a{ 
display:inline;

border-top:1px solid #FFFFFF; 
border-left:1px solid #FFFFFF; 
border-right:1px solid #000000; 
border-bottom:1px solid #000000; 

background:#CC998F; /* #D9998D; #CC9999; #cdb38b;*/


font-size:10px; 
font-weight: bold;
color:#000000; 
text-decoration:none; 
padding:3px 2px 3px 4px; 
text-align:center;
display:block;
height: 34px; 
} 

#rollbutton1active a {

border-bottom:1px solid #FFFFFF; 
border-right:1px solid #FFFFFF; 
border-left:1px solid #000000; 
border-top:1px solid #000000; 

background-color:#BF6F60; /* #FFEAE6; #FFCCCC; #cdc0b0;  */


font-size:10px;
font-weight: bold;

color: #000000;
text-decoration: none;
padding:3px 2px 3px 4px; 
text-align:center;
display: block;
height: 34px;

}

#rollbutton1 a:hover {

border-bottom:1px solid #FFFFFF; 
border-right:1px solid #FFFFFF; 
border-left:1px solid #000000; 
border-top:1px solid #000000; 

background:#E6D2CF; /*#A66E63; #CC6666; #eecfa1; */
/*
color:#000000;
padding:3px 2px 3px 4px; 
*/
font-size:10px;
font-weight: bold;
color: #000000;
text-decoration: none;
padding:3px 2px 3px 4px; 
text-align:center;
display: block;
height: 34px;


}

#rollbutton1active2 a {
display:block; 
font-size:1px; 
color:#efefef; 
background:#369; 
text-decoration:none; 
padding:2px; 
margin:0px; 
border-top:1px solid #ccc; 
border-left:1px solid #ccc; 
border-right:1px solid #808080; 
border-bottom:1px solid #000; 
width:58px; 
line-height:1px;
}

#rollbutton3 a {
display:block; 
font-size:1px; 
color:#efefef; 
background:#369; 
text-decoration:none; 
padding:2px; 
margin:0px; 
border-top:1px solid #ccc; 
border-left:1px solid #ccc; 
border-right:1px solid #808080; 
border-bottom:1px solid #000; 
width:58px; 
line-height:1px;
}

#rollbutton1 a:hover {
	background-color: #F4A460;
	color:#000000;
	padding-left: 5px;
	border:0px inset light gray;
	border-style:none;
}

#rollbutton2  {
	color: #000000;
	font-size:9px;
	text-decoration: none;
	border:0px outset light gray;
	background-color:#E2E2E2;
	display: block;
    height: 34px;
	border-style:none;
}

#rollbutton2 {
	color: #dddddd;
	font-size:9px;
	/*font-weight: bold;*/
	text-decoration: none;
	border:0px outset light gray;
	background-color:#dfdfdf;
/*	background-color:#FFFFFF; */
	display: block;
	/*width: 85px;*/
    height: 34px;
	padding: 5px; 
	border-style:none;
}


input.groovybutton
{
   font-size:9px;
   /*font-weight:bold;*/
   color:#444444;
   /*width:110px;*/
   height:25px;
   background-color:#ffffff;
   border-style:solid;
   border-color:#444444;
   border-width:1px;
}

input.groovybuttonactive
{
   font-size:9px;
   /*font-weight:bold;*/
   color:#444444;
   /*width:110px;*/
   height:25px;
   background-color:#FFFFCC;
   border-style:solid;
   border-color:#444444;
   border-width:1px;
   
} 

.addButton {

    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    padding: 0 2px 0 2px;
/*    display:block;   */
    text-decoration:none;
    color: #FFFFFF;
    background: #80C0FF;
    border-top: 1px solid #B8CADC;
    border-right: 1px solid #0A4785;
    border-bottom: 1px solid #0A4785;   
    border-left: 1px solid #B8CADC;
}

.addButton:hover {
    color: #FF6600;
    background: #993300;
    border-top: 1px solid #BF7B30;
    border-right: 1px solid #E6DBCF;
    border-bottom: 1px solid #E6DBCF;   
    border-left: 1px solid #BF7B30;
}


 .dropdown 
 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	position:absolute;
	width:350px;
	background-color:white;
	border:1px solid #888;
	margin:0px;
	padding:0px;
	text-decoration:none;
    }
   .dropdown ul  {
   	width:350px;
      list-style-type: none;
      margin:0px;
      padding:0px;
     
    }
   .dropdown ul li.selected { background-color: #ffb; }
   .dropdown li 
   {
      width:350px;
      list-style-type: none;
      display:block;
      margin:0;
      padding:2px;
      background-color:white;
    }
    .dropdown li div.image {
      float:left;
      width:32px;
      margin-right:8px;
    }
   .dropdown li div.name {
      font-weight:bold;
      font-size:11px;
      line-height:1.2em;
    }
   .dropdown li div.email {
      font-size:10px;
      color:#888;
    }
    #list 
	{
      margin:0;
      padding:0;
      list-style-type: none;
    }
    #list ul 
    {
	list-style-type: none;
      	margin:0px;
      	padding-left:14px;
    }
 



