#viewMenu { 
    padding: 0;
    margin: 0;
    list-style: none; 
    width: 100%; 
}

#viewMenu li { 
    padding: 5px;
}

 .selectedItem {
    background-color: #CCCCCC;
}

.menu  a { text-decoration: none; color: blue; }
.menu  a:visited { color: blue; text-decoration: none; }
.menu  a:hover { text-decoration: underline; color: #990000; }

#selectedMenuDiv {
    color: #99000;    
}

#selectedMenuDiv a {
    text-decoration: none;
    font-weight: bold;
    color: #990000;    
}

#selectedMenuDiv a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #990000;    
}

#selectedMenuDiv a:hover
{
    text-decoration: none;
    font-weight: bold;
    color: #990000;    
}

td.rowHeading  {
    background-color: #990000; 
    color: #FFFFFF;
}

th.columnHeading  {
    background-color: #990000; 
    color: #FFFFFF;
    font-weight: normal;
}

td.highlighted {
    background-color: white;    
    color: black;
}

th.highlighted {
    background-color: white;    
    color: black;
}