#unitName {
    padding: 5px 0 0 10px; 
    font-size: 15px; 
    font-weight:bold; 
    color: #990000;
}

#pageTitle {
    padding: 0 0 10px 10px; 
    font-size: 18px; 
    font-weight:bold; 
    color: #990000;
}

#sectionHeading {
    margin: 0px;
    padding: 0 0 15px 0; 
    font-size: 16px; 
    font-weight:bold;     
}

#bread {
    padding: 3px;
    margin-bottom: 0px;
    margin-left: 5px;
}

#bread ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    border: none;
} 

#bread ul li {
    margin-left: 0;
    padding-left: 2px;
    border: none;
    list-style: none;
    display: inline;
}

.menu  a { text-decoration: none; color: blue; }
.menu  a:visited { color: blue; }
.menu  a:hover { text-decoration: underline; color: #990000; }

/* http://stackoverflow.com/questions/314457/does-the-use-of-the-fieldset-html-tag-have-meaning-beyond-grouping-forms */
.fieldset {
border-right: 1px solid #75736E;
border-bottom: 1px solid #75736E;
border-left: 1px solid #F2F0EE;
border-top: 1px solid #F2F0EE;
padding: 10px 5px 5px 5px;
}

.outer {
border-left: 1px solid #75736E;
border-top: 1px solid #75736E;
border-right: 1px solid #F2F0EE;
border-bottom: 1px solid #F2F0EE;
margin-bottom: 5px;
width: 100%; /* CHANGE THIS FOR BOX SIZE */
} 

.legend {
float: left;
margin-left: 15px;
margin-top: -5px;
padding-left: 5px;
padding-right: 5px;
font-weight: bold;
color: #FFFFFF;
background: #990000;
} 

ul.menu {
    margin-left: 1em;
    padding-left: 1em;    
}

ul.menu-root {
    margin-left: 0;
    border-top: 1px dotted #AAAAAA; 
}

ul.menu li {
    margin-top: 5px;
} 

ul.menu div {
    padding: 2px 5px;
}

ul.menu div.selected {
    cursor: pointer;
    background-color: #CCCCCC;
    color: #990000;
    font-weight: bold;
    font-size: 13px;
    margin-right: 0px;
}

div.selected a {
    color: #990000;
}

div.selected  a:hover { 
    text-decoration: none; 
} 

fieldset.menu {
    border: 1px solid #808080; 
}

fieldset.menu legend {
    padding: 0px 5px; 
    font-weight: bold; 
    color: #FFFFFF; 
    background: #990000;
}