td { font-family: sans-serif; font-size: 11px; color: #000000}
body { font-family: sans-serif; font-size: 10px; color: #000000; }
p { font-family: sans-serif; font-size: 10px; color: #000000}
P { font-family: sans-serif; font-size: 10px; color: #000000}
H5 { font-family: sans-serif; font-size: 12px; color: #000000}
h5 { font-family: sans-serif; font-size: 12px; color: #000000}
H4 { font-family: sans-serif; font-size: 13px; color: #000000}
h4 { font-family: sans-serif; font-size: 13px; color: #000000}
H3 { font-family: sans-serif; font-size: 20px; color: #000000}
h3 { font-family: sans-serif; font-size: 20px; color: #000000}
Psmall { font-family: sans-serif; font-size: 10px; color: #000000}
blockquote { font-family: sans-serif; font-size: 10px; color: #000000}
