A.menu
  { font-family:Arial,Helvetica; font-weight:bold; color:green; text-decoration:underline; }
A.menu:hover
  { font-family:Arial,Helvetica; font-weight:bold; background-color:pink; }
A.menu:visited, A.menu:active
  { font-family:Arial,Helvetica; font-weight:bold; color:green; }
A.submenu
  { font-family:Arial,Helvetica; color:green; }
A.submenu:hover
  { font-family:Arial,Helvetica; background-color:pink; }
A.submenu:visited, A.submenu:active
  { font-family:Arial,Helvetica; color:green; }
