body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	background-image: url(../images/bodyrep.jpg);
	background-repeat: repeat-x;
 	margin: 0px;
	background-color: #FFFFFF;
}

form{
margin:0px;
}

hr { height: 1px;
}

.title
{ 
font-size: 14px;
font-weight: bold;
font-family: Arial,Helvetica,sans-serif;
color: rgb(153, 0, 0);
}

.subtitle
{ 
font-size: 12px;
font-weight: bold;
font-family: Arial,Helvetica,sans-serif;
color: rgb(153, 0, 0);
}

.subtitle a{ font-family: Arial,Helvetica,sans-serif;
color: rgb(153, 0, 0);
text-decoration: none;
}

.subtitle a:hover{ font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
text-decoration: none;
color: rgb(204, 153, 51);
}

.tblHead { font-family: Arial,Helvetica,sans-serif;
font-weight: bold;
color: rgb(255, 255, 255);
text-transform: uppercase;
font-size: 12px;
background-color: rgb(153, 0, 0);
}

.tblHead2 { font-family: Arial,Helvetica,sans-serif;
font-weight: bold;
color: rgb(153,0,0);

font-size: 12px;

}

.tblItem { 
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
}

.tblItem a{ 
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
color:#0000CC;
/*text-decoration: none;*/
}

.tblItem a:hover{ font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
text-decoration: none;
color: rgb(204, 153, 51);
}

.tblItemAlt { font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
background-color: #dddddd;
}

.tblItemAlt a{ font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
color: #0000CC;
/*text-decoration: none;*/
}

.tblItemAlt a:hover{ font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
text-decoration: none;
color: rgb(204, 153, 51);
}

.tblItemAuto { 
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
}

.tblItemRequired { font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
background-color: #ffdddd;
}



.tblHead a { font-family: Arial,Helvetica,sans-serif;
color: rgb(255, 255, 255);
}

.tblHead a:hover { color: rgb(204, 153, 51);
}

#rollbutton1 a  {
	color: #000000;
	font-size:9px;
	/*font-weight: bold;*/
	text-decoration: none;
	border:0px outset light gray;
/*	background-color:#E2E2E2; */
 	background-color:#ffffff; 
	display: block;
	/*width: 85px;*/
    height: 34px;
	padding: 5px;
	border-style:none;
}
#rollbutton1active a {
	color: #000000;
	font-size:9px;
	/*font-weight: bold;*/
	text-decoration: none;
	border:0px outset light gray;
	background-color:#FFFFCC;
	display: block;
	/*width: 85px;*/
    height: 34px;
	padding: 5px;
	border-style:none;

}
#rollbutton1 a:hover {
	background-color: #F4A460;
	color:#000000;
	padding-left: 5px;
	border:0px inset light gray;
	border-style:none;
}

#rollbutton2  {
	color: #000000;
	font-size:9px;
	text-decoration: none;
	border:0px outset light gray;
	background-color:#E2E2E2;
	display: block;
    height: 34px;
	border-style:none;
}

#rollbutton2 {
	color: #dddddd;
	font-size:9px;
	/*font-weight: bold;*/
	text-decoration: none;
	border:0px outset light gray;
	background-color:#dfdfdf;
/*	background-color:#FFFFFF; */
	display: block;
	/*width: 85px;*/
    height: 34px;
	padding: 5px; 
	border-style:none;
}


input.groovybutton
{
   font-size:9px;
   /*font-weight:bold;*/
   color:#444444;
   /*width:110px;*/
   height:25px;
   background-color:#ffffff;
   border-style:solid;
   border-color:#444444;
   border-width:1px;
}

input.groovybuttonactive
{
   font-size:9px;
   /*font-weight:bold;*/
   color:#444444;
   /*width:110px;*/
   height:25px;
   background-color:#FFFFCC;
   border-style:solid;
   border-color:#444444;
   border-width:1px;
   
} 

 .dropdown 
 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	position:absolute;
	width:350px;
	background-color:white;
	border:1px solid #888;
	margin:0px;
	padding:0px;
	text-decoration:none;
    }
   .dropdown ul  {
   	width:350px;
      list-style-type: none;
      margin:0px;
      padding:0px;
     
    }
   .dropdown ul li.selected { background-color: #ffb; }
   .dropdown li 
   {
      width:350px;
      list-style-type: none;
      display:block;
      margin:0;
      padding:2px;
      background-color:white;
    }
    .dropdown li div.image {
      float:left;
      width:32px;
      margin-right:8px;
    }
   .dropdown li div.name {
      font-weight:bold;
      font-size:11px;
      line-height:1.2em;
    }
   .dropdown li div.email {
      font-size:10px;
      color:#888;
    }
    #list 
	{
      margin:0;
      padding:0;
      list-style-type: none;
    }
    #list ul 
    {
	list-style-type: none;
      	margin:0px;
      	padding-left:14px;
    }
 



