A request was made to reset the password of your account on the Carnegie Mellon Online Admissions System.<br>
<br>
If you would like to continue to reset your password, please follow the link below. Otherwise, simply ignore this message and your password will remain the same. <br> 
<a href="##link##">##link##</a><br>
<br>
If this request was not made by you or you feel your account has been compromised, please contact us at once at <a href="mailto:admin@applyweb.cs.cmu.edu">admin@applyweb.cs.cmu.edu</a>.
