<p>This is a reminder that the applicant listed below has requested your recommendation to ##degree## in ##field## in  ##school## at Carnegie Mellon University.<br>
  <br>
Applicant: ##lastname##, ##firstname##<br>
Email: ##appemail##<br>
<br>
Use the URL and the access code below to enter your letter of recommendation in PDF, MS Word, or Text format only.<br>
The URL : <a href="https://applyweb.cs.cmu.edu/apply/">https://applyweb.cs.cmu.edu/apply</a>/<br>
The username and password to access the URL is contained in the original email notice sent to you.<br>
If you cannot local your password, you may reset it using the <em>reset password</em> link on the website. <br>
  <br>
  Recommendations are due by ##enddate##. Thank you for taking the time to respond. <br>
  If you have any questions, please send email to ##replyemail##. </p>
