The applicant listed below has requested your recommendation to ##degree## in ##field## in  ##school## at Carnegie Mellon University.<br>
<br>
Applicant: ##lastname##, ##firstname##<br>
Email: ##appemail##<br>
<br>
Use the URL and the access code below to enter your letter of recommendation in PDF, MS Word, or Text format only.<br>
The URL : <a href="https://applygrad.cs.cmu.edu/apply/">https://applygrad.cs.cmu.edu/apply</a>/<br>
The username to access the URL is <strong>##user##</strong> and your password is <strong>##pass##</strong>.
<br>
<br>
Recommendations are due by ##enddate##. Thank you for taking the time to respond.
<br>
If you have any questions, please send email to ##replyemail##.
