Dear ##lastname##, ##firstname##,<br><br>
Your application to the following program(s) has been submitted to Carnegie Mellon University.<br>
##degrees##
<br>
<br>
You can check the application progress or make changes on the web site at <a href="https://applyweb.cs.cmu.edu/apply/">https://applyweb.cs.cmu.edu/apply</a>.<br>
If you have any questions, please send email to ##replyemail##.
