Dear ##lastname##, ##firstname##,<br><br>
Your application to the following program(s) at Carnegie Mellon University has been updated.<br>
##page## - <em>updated ##date##
</em><br>
<br>
You can check the application progress or make changes on the web site at <a href="https://applyweb.cs.cmu.edu/apply/">https://applyweb.cs.cmu.edu/apply</a>.<br>
If you have any questions, please send email to ##replyemail##.
