body
	{
		background:#f5f5f5;
		padding:10px;
		font:normal 12px/normal Georgia, "Times New Roman", Times, serif;
		color:#666;
		text-align:center;
	}
#results,
#intructions
	{
		width:70%;
		background:white;
		border:solid 5px red;
		text-align:left;
		padding:10px;
		margin:10px auto;
	}
#footer
	{
		padding:10px;
	}
a
	{
		text-decoration:none;
		color:red;
		border-bottom:dotted 1px #ccc;
	}
a:hover
	{
		color:black;
		border-bottom:solid 1px red;
	}
.textfield
	{
		background:#f5f5f5;
		border:solid 1px #666;
		padding:5px;
	}
.textfield:focus
	{
		background:white;
		border:solid 1px red;
	}	
.btnfield
	{
		background:#333;
		border:solid 1px #ccc;
		padding:5px;
		color:white;
		font:bold 11px/normal Arial, Helvetica, sans-serif;
		margin:5px;
	}
.btnfield:hover,
.btnfield:focus
	{
		background:black;
		border:solid 1px red;
		color:red;
	}