<table>
<tr>
<td valign=top>
<h3>2008 PhD/Masters Programs - Application Submission Systems</h3>
<li><a href=https://applyweb-dev.cs.cmu.edu/apply>SCS PhD Online Application Submission System</a>
<li><a href=https://applyweb-dev.cs.cmu.edu/admin>SCS PhD Admissions Admin System</a>
</td>
<td>
</td>
<td valign=top>
</td>
</tr>

<tr>
<td>
<BR><BR>
</td>
</tr>

<tr>
<td valign=top>
<h3>2007 PhD/Masters Programs - Application Submission Systems</h3>
<li><a href=https://applyweb.cs.cmu.edu/phdapp/>SCS PhD Online Application Submission System</a>
<li><a href=https://applyweb.cs.cmu.edu/combio_phdapp>Computational Biology Online Application Submission System</a>
<li><a href=https://applyweb.cs.cmu.edu/pnc_phdapp/2007/phdapp>PNC PhD Online Application Submission System</a>
<li><a href=https://applyweb.cs.cmu.edu/mse_app/>MSE Online Application Submission System</a>
<li><a href=https://applyweb.cs.cmu.edu/msedistance_app/>MSE Distance Online ApplicationSubmission System</a>
<li><a href=https://applyweb.cs.cmu.edu/mhci_app>MHCI Online Applications Submission System</a>
</td>
<td>
</td>
<td valign=top>
<h3>2007 Online Recommendation Submission Interfaces</h3>
<li><a href=https://applyweb.cs.cmu.edu/phdrecommendations/>SCS PhD Online Recommendation Submission System</a>
<li><a href=https://applyweb.cs.cmu.edu/combio_phdrecommedations>Computational Biology Online Recommendation Submission System</a>
<li><a href=https://applyweb.cs.cmu.edu/pnc_phdapp/2007/recommendations>PNC PhD Online Recommendation Submission System</a>
<li><a href=https://applyweb.cs.cmu.edu/mse_recs2007/>MSE Online Recommendation Submission System</a>
<li><a href=https://applyweb.cs.cmu.edu/mhci_recs2007>MHCI Online Recommendation Submission System</a>
</td>
</tr>

<tr>
<td>
<BR><BR>
</td>
</tr>

<tr>
<td valign=top>
<h3>2007 Admissions Administrative Interfaces</h3>
<li><a href=https://applyweb.cs.cmu.edu/adm_committee_2007>CSD Admissions Administrative  Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/ri_phdapp/2007/admin>RI Admissions Administrative Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/ml_phdapp/2007/admin>ML Admissions Administrative Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/hcii_phdapp/2007/admin>HCII Admissions Administrative Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/se_cos_phdapp/2007/admin>SE/COS Admissions Administrative Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/pnc_phdapp/2007/admin>PNC Admissions Administrative Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/mse_msapp/2007/admin>MSE Campus Admissions Administrative Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/vlis_msapp/2007/admin>VLIS Campus Admissions Administrative Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/lti_phdapp/2007/admin>LTI Admissions Administrative Interface (LTI Version)</a>
<li><a href=https://applyweb.cs.cmu.edu/lti_phdapp/2007/admin2>LTI Admissions Administrative Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/admincombio/>Comp Bio Admissions Administrative Interface</a>
</td>
<td>
</td>
<td valign=top>
<h3>2007 Admissions Committee Review Interfaces</h3>
<li><a href=https://applyweb.cs.cmu.edu/adm_committee_2007>CSD Admissions Review Interface - ROUND 1</a>
<li><a href=https://applyweb.cs.cmu.edu/csd_faculty_committee>CSD Admissions Faculty Review Interface - ROUND 2</a>
<li><a href=https://applyweb.cs.cmu.edu/csd_adm_committee>CSD Admissions Committee Review Interface - ROUND 2</a>
<li><a href=https://applyweb.cs.cmu.edu/ri_phdapp/2007/review>RI Admissions Review Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/ml_phdapp/2007/review>ML Admissions Review Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/hcii_phdapp/2007/review>HCII Admissions Review Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/admingradonline_dev/cos_review.php>COS Admissions Review Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/admingradonline_dev/se_review.php>SE Admissions Review Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/mse_msapp/2007/review>MSE Campus Admissions Review Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/vlis_msapp/2007/review>VLIS Campus Admissions Review Interface</a>
<li><a href=https://applyweb.cs.cmu.edu/lti_phdapp/2007/review>LTI Admissions Review Interface</a>
</td>
</tr>

<tr>
<td>
<BR><BR>
</td>
</tr>

<tr>
<td valign=top>
<h3>2007 MySQL Database</h3>
<li> <a href=https://applyweb.cs.cmu.edu/phpMyAdmin>phpMyAdmin Database Interface - Production</a>
</td>
<td>
</td>
<td valign=top>
<h3>2007 Statistics</h3>
<li><a href=https://applyweb.cs.cmu.edu/adm_committee_2007/applicant_stats_archives.php>Overall PhD Statistics</a>
<li><a href=https://applyweb.cs.cmu.edu/adm_committee_2007/applicant_stats_archives_matrix.php>Matrix PhD Statistics</a>
</td>
</tr>
</table>