   <html>  
       <head>  
           <title>ASP.NET Ajax from CDN</title>  
           <style type="text/css">  
               .sys-template  
               {  
                   display:none;  
               }  
           </style>  
            
          <script type="text/javascript" 12.               src="http://ajax.microsoft.com/ajax/beta/0911/start.debug.js"></script>  
          <script type="text/javascript">  
            
              // Create array of products to display  
              var products = [  
                  {Name: 'Telephone', UnitPrice: 12.33},  
                 {Name: 'Comb', UnitPrice: 3.28},  
                  {Name: 'Laptop', UnitPrice: 422.99}              
              ];  
     
              // Load all required scripts for the client DataView control  
              Sys.require(Sys.components.dataView);  
            
              // When DOM and scripts loaded, create the DataView  
              Sys.onReady( function() {  
                  Sys.create.dataView("#productList", {data:products});  
              });  
            
          </script>  
      </head>  
      <body>  
    
          <h1>Products</h1>  
     
          <ul id="productList" class="sys-template">  
              <li>{{Name}} - {{UnitPrice}}</li>  
          </ul>  
     
      </body>  
      </html>  